iot/nodered_flows.json
[
    {
        "id": "9a5797004b410dd8",
        "type": "tab",
        "label": "batch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4a95036832a28cc6",
        "type": "mqtt in",
        "z": "9a5797004b410dd8",
        "name": "",
        "topic": "+/sensors",
        "qos": "1",
        "datatype": "json",
        "broker": "9e9726dcba940121",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "ec28e1581f142085",
                "3c42711ed5d08dad"
            ]
        ]
    },
    {
        "id": "ec28e1581f142085",
        "type": "debug",
        "z": "9a5797004b410dd8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "f12f6b4cad80b6d1",
        "type": "debug",
        "z": "9a5797004b410dd8",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "3c42711ed5d08dad",
        "type": "function",
        "z": "9a5797004b410dd8",
        "name": "function 1",
        "func": "// The DAQ app publishes one batch per cycle (or one per continuous session):\n// [{timestamp_ns, time_s, machine_id, session_id, cycle_id,\n//   CH0_T_futaba, CH1_T_futaba, CH2_P_kistler, CH3_P_kistler,\n//   CH5_P_machine, CH6_S_speed, CH7_S_position}, ...]\n// Channel keys are CH<hw-channel>_<sensor_type>, named by the app from its\n// channel config, and the values are already converted to physical units\n// (degC, bar, mm/s, mm). The channel set is discovered per record, so any\n// channel configuration works without touching this function.\nconst records = msg.payload;\n\nif (!Array.isArray(records) || records.length === 0) {\n    node.warn(\"Expected non-empty array, got: \" + typeof records);\n    return null;\n}\n\n// Payload metadata keys - everything else is a channel field.\nconst META = [\"timestamp_ns\", \"time_s\", \"machine_id\", \"session_id\", \"cycle_id\"];\nconst t0 = records[0].timestamp_ns;\n\nmsg.payload = records.map(r => {\n    const fields = {\n        // Cycle-relative time [ms]: the app's time_s when present,\n        // timestamp delta for old-format batches.\n        t_ms: (typeof r.time_s === \"number\")\n            ? r.time_s * 1000.0\n            : (r.timestamp_ns - t0) / 1e6,\n        cycle_num: Number(r.cycle_id)\n    };\n    for (const key of Object.keys(r)) {\n        if (META.includes(key)) continue;\n        const value = Number(r[key]);\n        if (Number.isFinite(value)) fields[key] = value;\n    }\n    return {\n        measurement: \"sensor_data\",\n        tags: {\n            machine_id: String(r.machine_id),\n            cycle_id: String(r.cycle_id),\n            session_id: String(r.session_id || \"\")\n        },\n        fields: fields,\n        timestamp: r.timestamp_ns\n    };\n});\n\nnode.status({\n    fill: \"green\",\n    text: `${records.length} pts @ ${new Date().toLocaleTimeString()}`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 140,
        "wires": [
            [
                "f12f6b4cad80b6d1",
                "2303a0420a27e0fd"
            ]
        ]
    },
    {
        "id": "2303a0420a27e0fd",
        "type": "influxdb batch",
        "z": "9a5797004b410dd8",
        "influxdb": "3be90c134058818c",
        "precision": "n",
        "retentionPolicy": "",
        "name": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "9e9726dcba940121",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3be90c134058818c",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": 8086,
        "protocol": "http",
        "database": "sensor_data",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    }
]
